                    </td>
                </tr>
                <tr>
                    <td style="padding-top:20px; font-size: 10pt; color: #212121;">{EMAIL_DATE}</td>
                </tr>
                <tr>
					<td style="text-align:center; color:#616161;">You can stop receiving these emails by <a href="{UNSUBSCRIBE_URL}" style="color:#616161;">unsubscribing</a> from our mailing list</td>
				</tr>
                <tr>
                    <td style="padding:20px 10px; background-color:#0277bd;">
                        <table border="0" cellpadding="0" cellspacing="10" style="color:#ffffff;" width="100%">
                            <tbody>
                            <tr>
                                <td width="1%" style="white-space:nowrap;"><font size="2">Email</font></td>
                                <td><font size="2">: <a href="mailto:{SUPPORT_EMAIL}" style="color:#ffffff;text-decoration: none;">{SUPPORT_EMAIL}</a></font></td>
                                <td rowspan="5" align="right" valign="top"><img src="{WEBSITE_URL}/App/img/email-footer-logo.png"/></td>
                            </tr>
                            <tr>
                                <td width="1%"><font size="2">Facebook</font></td>
                                <td><font size="2">: <a href="https://www.facebook.com/{FACEBOOK_ID}" style="color:#ffffff;text-decoration: none;">{FACEBOOK_ID}</a></font></td>
                            </tr>
                            <tr>
                                <td width="1%"><font size="2">Mobile</font></td>
                                <td><font size="2">: <a href="tel:{SUPPORT_MOBILE}" style="color:#ffffff;text-decoration: none;">{SUPPORT_MOBILE}</a></font></td>
                            </tr>
                            <tr>
                                <td width="1%"><font size="2">WhatsApp</font></td>
                                <td><font size="2">: <a href="https://api.whatsapp.com/send?phone={SUPPORT_MOBILE}" style="color:#ffffff;text-decoration: none;">{SUPPORT_MOBILE}</a></font></td>
                            </tr>
                            <tr>
                                <td colspan="3"><font size="2" style="color: #ffffff;">{WEBSITE_TITLE} {COPYRIGHT}. All Rights Reserved</font></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>