@include email-header

    <p>مرحباً مجدداً {name}</p>
    <p>لقد مرت {pending_days} منذ أن قمت بالإشتراك في خدمات <a href="{WEBSITE_URL}">{WEBSITE_TITLE}</a></p>
    <p>لقد أرسلنا إليك هذه الرسالة لتذكيرك بإتخاذ الإجراء الضروري و تأكيد حسابك وإلا فسيتم حذفه تلقائيًا في غضون {extended_days} يوم</p>
    
    <ul>
        <li>أولاً علينا أن نتحقق من بريدك الإلكتروني المسجل لذلك انقر على <a href="{email_verification_view_url}">تحقق الأن</a></li>
        <li>اعثر على الرسالة النصية القصيرة التي أرسلناها لك سابقاً و التي تحتوي على رمز التحقق إلى جوالك المسجل <b>{mobile}</b>, لذلك <a href="{login_view_url}">قم بتسجيل الدخول</a> ،اذهب إلى صفحة <a href="{mobile_verification_view_url}">التحقق من رقم الجوال</a> ،أدخل رمز التحقق في الحقل المخصص و من ثم انقر <b>تحقق</b></li>
    </ul>
    
    <p>متى ما تم التحقق من بريدك الإلكتروني <a href="{login_view_url}">يمكنك القيام بتسجيل الدخول</a> إلى <a href="{login_view_url}">حسابك</a> و البدء بإجراء بعض المهام الإدارية الأساسية</p>

    <p>أحد أفراد طاقمنا سيقوم فيما بعد بالتحقق من بياناتك و ينشط حسابك إذا كان كل شيء يبدو على ما يرام</p>
    <p>بعد ذلك ستكون قادرًا على استخدام خدمتنا بشكل كامل</p>

    <p>شكراً</p>

@include email-footer