@include email-header

    <p>مرحباً {name}</p>
    <p>تم تغيير بريدك الإلكتروني و علينا أن نتحقق أنه يعود لك</p>
    <p>لذا ، رجاءً انقر على <a href="{email_verification_view_url}">تحقق الآن</a></p>

    <p>إذا لم يعمل الرابط أعلاه، رجاءً قم بنسخ / لصق الرابط التالي إلى شريط عنوان متصفح الويب الخاص بك</p>
    <p>{verification_url}</p>

    <p>ملاحظة:<br>
        إذا لم تقم بالتحقق من بريدك الإلكتروني أو جوالك خلال 5 أيام، سيتم تعليق حسابك و ستحتاج للإتصال بمدير الموقع لحل هذه المشكلة.
    </p>

    <p>إذا لم تقم بتغيير بريدك الإلكتروني أو أن هذه الرسالة لم ترسل إليك من قبل <a href="{WEBSITE_URL}">{WEBSITE_TITLE}</a> ،فرجاءً تجاهل هذه الرسالة</p>
    <p>شكراً</p>

@include email-footer