@include email-header

    <p>شكراً {name} لإشتراكك في خدمات {WEBSITE_TITLE}</p>
    <p>تم إنشاء حسابك و لكن مازلت بحاجة للقيام ببعض الخطوات الإضافية لنتحقق من بيانات التسجيل الخاصة بك</p>

    <ul>
        <li>أولاً علينا أن نتحقق من بريدك الإلكتروني المسجل لذلك انقر على <a href="{email_verification_view_url}">تحقق الأن</a></li>
        <li>نريد منك أيضاً أن ترسل رسالة نصية قصيرة تحتوي على رمز التحقق التالي <b>{mobile_verification_code}</b> إلى رقمنا المخصص للرسائل النصية القصيرة <b>{sms_virtual_number}</b> من جوالك المسجل <b>{mobile}</b>, بعد ذلك <a href="{my_profile_view_url}">قم بتسجيل الدخول إلى ملفك الشخصي</a> و تأكد من حالة التحقق من جوالك</li>
    </ul>
    
    <p>متى ما تم التحقق من بريدك الإلكتروني <a href="{login_view_url}">قم بتسجيل الدخول</a> إلى حسابك</p>
    
    <ul>
        <li><a href="{my_profile_view_url}">انتقل إلى ملفك الشخصي</a> و قم بتحميل صورة واضحة لوجهك إذا لم تكن قمت بذلك بعد</li>
        <li><a href="{my_cars_view_url}">انتقل إلى سياراتك</a> و قم بتسجل سياراتك في حال وجودها إذا لم تكن قمت بذلك بعد</li>
    </ul>
    
    <p>أحد أفراد طاقمنا سيقوم فيما بعد بالتحقق من بياناتك و ينشط حسابك خلال 24 ساعة كحد أقصى</p>
    <p>بعد ذلك ستكون قادرًا على استخدام خدمتنا</p>
    
    <p>ملاحظة:<br>
        إذا لم تقم بالتحقق من بريدك الإلكتروني أو جوالك خلال {verification_period} أيام، سيتم حذف حسابك تلقائياً
    </p>

    <p>إذا لم تقم بالتسجيل في خدماتنا أو غيرت رأيك ، فلا تتردد في تجاهل هذه الرسالة</p>
    <p>شكراً</p>

@include email-footer